<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
	<typeAliases>
		<typeAlias type="com.mc.p1.member.MemberVO" alias="MemberVO"/>
		<typeAlias type="com.mc.p1.member.AddressVO" alias="AddressVO"/>
		<typeAlias type="com.mc.p1.product.ProductVO" alias="ProductVO"/>
		<typeAlias type="com.mc.p1.util.ProductPager" alias="ProductPager"/>
		<typeAlias type="java.lang.Long" alias="Long"/>
	</typeAliases>
</configuration> 