@charset "UTF-8";
.loginWrap{
		margin: 0 auto;
		width: 1140px;
		height: 35px;
		
	}
	#langWrap{
		width: 200px;
		height: 35px;
		
		color:#999999;
		font-size:12px;
		line-height:35px;
		float: left;
	}
	.emptyWrap{
		width: 540px;
		height: 35px;
		
		float: left;
	}
	.logWrap{
		width: 400px;
		height: 35px;
		color:#999999;
		font-size:12px;
		line-height:35px;
		text-align:right;
		float: left;
	}
	
	.headerWrap{
		margin: 0 auto;
		
		background-color:  #3d3d3d;
		width: 1140px;
		height: 61px;
		border-radius: 10px;
		font-family: "Malgun Gothic", Helvetica, Arial, sans-serif;
	}
	.logoWrap{
	  width: 120px;
	  height: 61px;
	  background-color:rgb(231,27,36);
	  border-top-left-radius:10px;
	  border-bottom-left-radius:10px;
	  float: left;
	  text-align: center;
	  padding-top: 7px;
	  box-sizing: border-box;
	}
	
	.menuWrap{
	  width: 250px;
	  height: 61px;
	  background-color: #3d3d3d;
	  color:#ffffff;
	  font-size:18px;
	 
	  line-height:61px;
	  text-align:center;
	  border-right: 1px solid #555;
	  float: left;
	}
	.myPageWrap{
	  width: 250px;
	  height: 61px;
	  background-color:  #3d3d3d;
	    color:#ffffff;
	  font-size:18px;
	  
	  line-height:61px;
	  text-align:center;
	  border-right: 1px solid #555;
	  float: left;
	}
	.etcWrap{
	  width: 250px;
	  height: 61px;
	  background-color:  #3d3d3d;
	  color:#ffffff;
	  font-size:18px;
	
	  line-height:61px;
	  text-align:center;
	  
	  float: left;
	}
	.iconTag{
		color:#ffffff;
		cursor: pointer;
		
	}
	.icon{
	color:gray;
	}
	.iconTag :hover{
		color:#777777;
		
		
	}
	
	#formWrap{
		width:300px;
		height:300px;
		background-color: rgba(255,255,255,0.7);
		position:absolute;
		top: 15px;
		right: 25px;
		z-index: 550;
		
	}
	#modalWrap{
		width:300px;
		height:300px;
		background-color: white;
		position:absolute;
		top: 15px;
		right: 25px;
		z-index: 550;
		
	}
	#bigWrap{
		margin:10px auto 0px auto;
		position: relative;
		width: 1140px;
		height: 530px;
	}
	
	
	#loginBtn{
		width: 250px;
		height: 50px;	
		background-image: linear-gradient(#ec4c34,#d21920);
		border-radius: 5px;
		color: white;
		margin-top:40px;
		font-size: 20px;
		border: none;
	}
	#findWrap{
		width: 250px;
		height: 50px;		
		margin: 0 auto;
		line-height: 50px;
		text-align: center;
	}
	
	#textWrap{
		width: 1140px;
		height: 50px;
		line-height: 50px;
		color:#3d3d3d;
		font-size: 20px;
		font-weight: bold;
	}
	
	.startWrap{
		width: 300px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		font-size:20px;
		color: #3d3d3d;
	}
	.signWrap{
		width: 300px;
		height: 200px;
		
	}
	.inWrap{
		width: 250px;
		height: 200px;
		
		overflow:hidden;
		margin: 0 auto;
	}
	
	.loginInput{
		width: 250px;
		height: 50px;	
		border: 1px solid #ddd;
		
	}