<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.mc.p1.cart.CartMapper">
	
	<insert id="setInsert" parameterType="CartVO">
		insert into cart values(null,#{productNum},1,#{setCheck},#{side},#{drink},#{memberId},#{price})
	</insert>
	
	<select id="getList" parameterType="CartVO" resultType="CartVO">
		select * from cart where memberId=#{memberId}
	</select>
</mapper>